<link rel="stylesheet" href="/css/header-home.css">

<header>
    <nav>
        <div class="header container" id="headerr">
            <a href="/"><div class="logo">DOMAIN</div></a>
            
            
            <div class="header-buttons container">

                <a href="/#">
                    <button class="try-premium"><span class="iconify" data-icon="fluent:premium-32-regular"></span>Try Premium</button>    
                </a>

                <% if(locals.user){%>

                    <a href="/user/profile" class="log-sign"> 
                        <li class="container"><span class="iconify" data-icon="ep:user"></span> Hi, <%= user.name %></li>
                    </a>
                    <a href="/user/log-out" class="log-sign">
                        <li class="container"><span class="iconify" data-icon="ic:outline-logout"></span>Logout</li>

                    </a>


                <%} else{ %>
                    <a href="/user/sign-in" class="log-sign">
                        <li class="container"><span class="iconify" data-icon="ep:user"></span>Login/SignUp</li>
           
                    </a>
                
                <%} %>

            </div>
        </div>
    </nav>
</header>