
    <div id="header">
        <%- include('_header') %>
    </div>
    
    <h1>hello this is home ejs template</h1>


    <form action="/result" method="get">
        <input type="text" name="keyword" id="keyword" >
        <input type="submit" value="Submit">
    </form>