<!-- <h1>name:<%= locals.user.name %></h1> -->
<!-- <h2>email :<%= locals.user.email %></h2>
<a href="/user/sign-out">sign-out</a> -->


<!-- layout -> header sidebar content area -->
<!-- header on top with given height -->

<!-- sidebar left covering rest height -->
<!-- sidebar -> profile , wishlist , logout -->

<!-- then content area -->
<!-- header then content -->
