<link rel="stylesheet" href="/css/result-page.css">
<div id="header">
    <%- include('_header') %>
</div>

<section id="result-page">

    <div class="sidebar-filterbox container">
        <div class="filter-tools">
            <label for="Genre selection">Select Genre</label>
            <select name="genre" id="genre">
                <option value="Catchy">Catchy</option>
                <option value="Modern">Modern</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
            </select>
            <label for="extention Selection">Domain Extention</label>
            <select name="genre" id="genre">
                <option value=".com">.com</option>
                <option value=".in">.in</option>
                <option value=".co.in">.co.in</option>
                <option value=".org">.org</option>
                <option value=".net">.net</option>
                <option value=".io">.io</option>
            </select>
            <label for="extention Selection">Domain Availability</label>
            <form action="" class="search-form container">
                <input type="search" id="keyword" name="keyword" placeholder="Type your keyword">
                <button type="submit"><span class="iconify" data-icon="akar-icons:search"></span></button>
            </form>
        </div>
        <div class="premium-card">
            <span>Try Premium</span>
            <h2 class="container" >Domain Premium &nbsp<span class="iconify" data-icon="fluent:premium-32-regular"></span></h2>
            <ul>
                <li>Get bulk domain availability list at once</li>
                <li>Personalized list for domain availability</li>
                <li>Export available domain list to know opinion of others in your group</li>
            </ul>
            <button class="get-premium" href="#">Get Premium</button>
        </div>


    </div>
    <div id="mca">
        <div id="mca-heading">
            <h2>This is heading</h2>
        </div>
        <div id="result-list-container">
            <div class="list-div-container unclicked">
                <div class="row1-list-div-container">

                    <div class="row1-domain-cont flex-left">
                        <%= keyword %> <span style="color: #FF099C;"><%= ext  %></span> 
                    </div>
                    <div class="row1-wishlist-cont flex-center ">
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
            </div>
            <%- include('partials/result-list.ejs') %>



            <div class="list-div-container clicked">
                <div class="row1-list-div-container">
                    <div class="row1-icon-cont">
                        <div class="icon-cont avail-tick flex-center">
                            <span class="iconify" data-icon="charm:circle-tick"></span>
                        </div>
                    </div>
                    <div class="row1-domain-cont flex-left">
                        Domain <span style="color: #FF099C;">.tld</span> 
                    </div>
                    <div class="row1-wishlist-cont flex-center ">
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="row2-list-div-container">
                    <div class="row2-register-now-cont flex-center">
                        <a href="/#">
                            <div class="register-now">
                                Register Now
                            </div>
                        </a>
                        
                    </div>
                    <div class="row2-oth-ext-cont">
                        <a href="#">
                            Oth. Extention
                        </a>
                    </div>
                </div>
    
            </div>

            <!-- div with other extention clicked -->
            <div class="list-div-container clicked">
                <div class="row1-list-div-container">
                    <div class="row1-icon-cont">
                        <div class="icon-cont avail-tick flex-center" style="background-color: red;">
                            <span class="iconify" data-icon="gridicons:cross-small" style="color: white;"></span>                      
                        </div>
                    </div>
                    <div class="row1-domain-cont flex-left">
                        Domain <span style="color: #FF099C;">.tld</span> 
                    </div>
                    <div class="row1-wishlist-cont flex-center ">
                        <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                    </div>
                </div>
                <div class="row2-list-div-container">
                    <div class="row2-register-now-cont flex-center">
                        <span style="color: red;">Oops</span>
                        
                    </div>
                    <div class="row2-oth-ext-cont">
                        <a href="#">
                            Oth. Extention
                        </a>
                    </div>
                </div>

                <!-- other extention container -->
                <div class="oth-ext-cont">
                    <!-- available -->
                    <div class="list-div-container clicked">
                        <div class="row1-list-div-container">
                            <div class="row1-icon-cont">
                                <div class="icon-cont avail-tick flex-center">
                                    <span class="iconify" data-icon="charm:circle-tick"></span>
                                </div>
                            </div>
                            <div class="row1-domain-cont flex-left">
                                Domain <span style="color: #FF099C;">.tld</span> 
                            </div>
                            <div class="row1-wishlist-cont flex-center ">
                                <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                            </div>
                        </div>
                    </div>
                    <!-- not available -->
                    <div class="list-div-container clicked">
                        <div class="row1-list-div-container">
                            <div class="row1-icon-cont">
                                <div class="icon-cont avail-tick flex-center" style="background-color: red;">
                                    <span class="iconify" data-icon="gridicons:cross-small" style="color: white;"></span>                      
                                </div>
                            </div>

                            <div class="row1-domain-cont flex-left">
                                Domain <span style="color: #FF099C;">.tld</span> 
                            </div>

                            <div class="row1-wishlist-cont flex-center ">
                                <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-div-container clicked">
                        <div class="row1-list-div-container">
                            <div class="row1-icon-cont">
                                <div class="icon-cont avail-tick flex-center">
                                    <span class="iconify" data-icon="charm:circle-tick"></span>
                                </div>
                            </div>
                            <div class="row1-domain-cont flex-left">
                                Domain <span style="color: #FF099C;">.tld</span> 
                            </div>
                            <div class="row1-wishlist-cont flex-center ">
                                <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-div-container clicked">
                        <div class="row1-list-div-container">
                            <div class="row1-icon-cont">
                                <div class="icon-cont avail-tick flex-center">
                                    <span class="iconify" data-icon="charm:circle-tick"></span>
                                </div>
                            </div>
                            <div class="row1-domain-cont flex-left">
                                Domain <span style="color: #FF099C;">.tld</span> 
                            </div>
                            <div class="row1-wishlist-cont flex-center ">
                                <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                            </div>
                        </div>
                    </div>
                </div>

    
            </div>

        </div>
    </div>
</section>
<script src="/js/result.js"></script>