        <link rel="stylesheet" href="/css/signin.css">
        <main class="flex-center">
            <div id="signin-block" class="box flex-center">
                <h1>Login Here</h1>
                <form action="/user/create-session" method="post">
                    
                    <div class="form-input flex-center">
                        <label for="email">Email </label>
                        <input type="email" name="email" id="email" class="input-form" placeholder="Enter your e-mail">

                    </div>
                    <div class="form-input">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="input-form" placeholder="Enter your password">

                    </div>
                    <div class="form-input flex-center" >
                        <input type="submit" value="submit">

                    </div>
                </form>
    
    
            </div>
        </main>
       