        <link rel="stylesheet" href="/css/signin.css">
        <div class="flex-center container">
            <main class="flex-center">
                <div id="signin-block" class="box flex-center">
                    <h2>Login into DNG</h2>
                    <form action="/user/create-session" method="post">
                        
                        <div class="form-input">
                            <label for="email">Email </label>
                            <input type="email" name="email" id="email" class="input-form" placeholder="Enter your e-mail">

                        </div>
                        <div class="form-input">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="input-form" placeholder="Enter your password">

                        </div>
                        <div class="form-input" >
                            <button type="submit" value="Login" class="flex-sp-between">Login <span class="iconify" data-icon="dashicons:arrow-right-alt"></span></button>
                            <span class="create-account">Don't have an account? <a href="/user/sign-up" class="register">Register Now</a></span>
                        </div>
                    </form>

                    <a href="/user/auth/google">
                        <div class="btn">
                            google login
                        </div>
                    </a>
        
        
                </div>
            </main>
        </div>