<link rel="stylesheet" href="/<%= assetPath('css/signin.css') %>">

    <div class="flex-center container">
        <main class="flex-center">
            <div id="signin-block" class="box flex-center" style="width: 500px;">
                <h2>Register</h2>
                <form action="/user/create-user" method="post">
                    <div class="form-input">
                        <label for="name">Name </label>
                        <input type="text" name="name" id="name" class="input-form" placeholder="Enter your name" value="">
                        </div>

                    <div class="form-input">
                        <label for="email">Phone Number </label>
                        <input type="tel" name="number" id="number" class="input-form" placeholder=" Enter your Number" value="">
                        </div>
                
                    <div class="form-input">
                        <label for="number">Email </label>
                        <input type="email" name="email" id="email" class="input-form" placeholder="Enter your e-mail" value="">
                        </div>
                
                    <div class="form-input">
                        <label for="password">Your Password </label>
                        <input type="password" name="password" id="password" class="input-form" placeholder="Enter your password" value="">
                        </div>
                    
                    <div class="form-input">
                        <label for="confirm-password">Re-enter Password </label>
                        <input type="password" name="confirm_password" id="confirm-password" class="input-form" placeholder="Re - Enter your password" value="">
                        </div>

                    <div class="form-input" >
                        <button type="submit" value="Register" class="flex-sp-between">Register <span class="iconify" data-icon="dashicons:arrow-right-alt"></span></button>
                        <span class="already-account">Already have an account? <a href="/user/sign-in" class="login">Login Here</a></span>
                        <span class="go-to">or Go to <a href="/" class="register">Homepage</a></span>
                        </div>

                </form>


            </div>
        </main>
    </div>