<link rel="stylesheet" href="/css/wishlist.css">

        <%- include('_header') %>

        <div class="main-content">
            <div class="sidebar-panel">
                <div class="user-links">
                    <a href="/user/profile" class="my-profile"><span class="iconify-inline" data-icon="ep:user"></span>My Profile</a>
                    <a href="/user/profile/wishlist" class="wishlist"><span class="iconify-inline" data-icon="ant-design:heart-outlined"></span>Wishlist<span class= "wishlist-count">9</span></a>
                    <a href="/user/proflie/premium" class="premium-features"><span class="iconify-inline" data-icon="fluent:premium-20-regular"></span>Premium Features</a>
                    <a href="/user/profile/past-query" class="past-queries"><span class="iconify-inline" data-icon="ant-design:history-outlined"></span></span>My Past Queries</a>
                    <a href="/user/log-out" class="logout"><span class="iconify" data-icon="ant-design:logout-outlined"></span>Logout</a>
        
                </div>
            </div>

<div class="content-area">
    <h2 class="wishlist-heading">Hope you found your favorite out of these <%= data.length %> Brands!</h2>
    <div class="wishlist-cont">
        <ul class="wishlist-items">
            <% for (let i of data){ %>
            <li class="item">
                <h2 class="domain-text"><%= i.wish.domain %></h2>
                <div class="buttons">
                    <a href=""><span class="iconify cart" data-icon="fluent:cart-20-regular"></span></a>
                    <form action="/user/profile/remove-from-wishlist" method="post">
                        <input style="display: none;" type="text" name="domain" value ="<%= i.wish.domain %>" id="">
                        
                        <button type="submit" class="wishlist-btn">
                            <span class="iconify" data-icon="ep:remove"></span>
                        </button>
                        
                    </form>                    
                </div>
            </li>
            <% } %>


        </ul>


    </div>


</div>