header{
  position: fixed;

  /* --- for padding arround header ----  */
  /* top: 20px;
  left: 20px;
  right: 20px; */

  /* ---- 0 padding layout -----  */
  top: 0; left: 0; right: 0;

  z-index: 999;
}


.header{
  z-index: 100;
  padding: 20px 60px;
  width: 100%;
  background: #ffffff63;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.568);
  backdrop-filter: blur(5px);
  /* border-radius: 15px; */


}
.logo{
  font-size: 32px;
  font-weight: 700;
  display: block;
  color: black;
}
.header-buttons{
  justify-content: flex-end;
}

.header-buttons button{
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-buttons button svg{
  margin-right: 8px;
  font-size: 24px;
}

.header-buttons .try-premium{
  filter : drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  font-weight: 300;
}

.header-buttons .log-sign{
  margin-left: 50px;
  background: transparent;
  color: #1E1E1E;
  list-style: none;
  font-size: 18px;
}
.header-buttons .log-sign li svg{
  font-size: 26px;
  margin-right: 5px;
}

/* ------Search Bar--------  */

.header form{
  background: #ffffff50;
  padding: 2px;
  border: 1px solid var(--purple-color);
  border-radius: 50px;
  transition: all ease 0.3s;
}
.header form input[type=search]{
  width: 30vw;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.header form input[type=search]::placeholder{
  color: var(--pink-color);
  font-size: 14px;
}
.header form:focus-within, .header form:active{
  border: 1px solid var(--pink-color);
  background: #ffffffcc;

}

.header form button{
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin-left: 40px;
}
.header form select{
  background-color: transparent;
  border: none;
  margin-left: 15px;
  outline: none;
}


@media only screen and (max-width: 768px) {

  .header{
    padding: 10px 10px;
    padding-bottom: 70px;
  }
  .header form{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 70px;
  }
.header form input[type=search]{
  width: 100%;
  padding-right: 0px;
  }
  .header form .button-grp{
    width: 200px;
  }


  .logo{
    font-size: 26px;
  }
.header-buttons a button span,
.header-buttons a li span{
  display: none;
  font-size: 0px;
  }
  .header-buttons button{
    padding: 10px;
    border-radius: 30px;
  }
  .header-buttons .icon svg.iconify{
  margin: 0px;
  font-size: 28px;
  }
.header-buttons .log-sign{
  margin-left: 30px;
  }
  .header form button{
    margin-left: 8px;
  }
  .header form select{
    margin-left: 5px;
  }
}