header{
  position: fixed;

  /* --- for padding arround header ----  */
  /* top: 20px;
  left: 20px;
  right: 20px; */

  /* ---- 0 padding layout -----  */
  top: 0; left: 0; right: 0;

  z-index: 999;
}


.header{
  z-index: 100;
  padding: 60px 100px;
  width: 100%;
  background: transparent;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  /* border-radius: 15px; */


}
.logo{
  font-size: 32px;
  font-weight: 700;
  display: block;
  color: black;
}
.header-buttons{
  justify-content: flex-end;
}

.header-buttons button{
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-buttons button svg{
  margin-right: 8px;
  font-size: 24px;
}

.header-buttons .try-premium{
  filter : drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  font-weight: 300;
}

.header-buttons .log-sign{
  margin-left: 50px;
  background: transparent;
  color: #1E1E1E;
  list-style: none;
  font-size: 18px;
}
.header-buttons .log-sign li svg{
  font-size: 26px;
  margin-right: 5px;
}

/* ------Search Bar--------  */

.header form{
  background: #ffffff50;
  padding: 2px;
  border: 1px solid #9d00ff2c;
  border-radius: 50px;
  transition: all ease 0.3s;
}
.header form input[type=search]{
  width: 30vw;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
}
.header form input[type=search]::placeholder{
  color: #9d00ffb9;
  font-size: 14px;
}
.header form:focus-within, .header form:active{
  border: 1px solid #9E00FF;
  background: #ffffffcc;

}

.header form button{
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin-left: 40px;
}
.header form select{
  background-color: transparent;
  border: none;
  margin-left: 20px;
  outline: none;
}

