:root{
  --pink-color: #ff099c;
  --purple-color: #9E00FF;
  --glass-color: #ffffff63;
  --white-border: rgba(255, 255, 255, 0.6) ;
  --text-color: #1E1E1E;

}

*{
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(238.72deg, #FFDDDD 0%, #720066 100%), linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
  background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge, normal;
  height: 100vh;
  width: 100%;
  /* padding: 20px; */
  background-attachment: fixed;
}

* button{
  border: none;
  border-radius: 50px;
  /* background-color: #9300ff; */
  background: linear-gradient(93.29deg, rgba(158, 0, 255, 0.95) 10.35%, rgba(158, 0, 255, 0.8) 102.79%);
  color: white;
  padding: 8px 22px;
  cursor: pointer;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  z-index: 100;
  padding: 20px 60px;
  /* position: absolute; */
  width: 100%;
  background: #ffffff63;
  /* border-radius: 15px; */
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.logo{
  font-size: 32px;
  font-weight: 700;
}
.header-buttons{
  justify-content: flex-end;
}

.header-buttons button{
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-buttons button svg{
  margin-right: 8px;
  font-size: 24px;
}

.header-buttons .try-premium{
  filter : drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  font-weight: 300;
}

.header-buttons .log-sign{
  margin-left: 50px;
  background: transparent;
  color: #1E1E1E;
}
.header form{
  background: #ffffff50;
  padding: 2px;
  border: 1px solid #9d00ff2c;
  border-radius: 50px;
  transition: all ease 0.3s;
}
.header form input[type=search]{
  width: 30vw;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
}
.header form input[type=search]::placeholder{
  color: #9d00ffb9;
  font-size: 14px;
}
.header form:focus-within, .header form:active{
  border: 1px solid #9E00FF;
  background: #ffffff80;

}

.header form button{
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin-left: 40px;
}
.header form select{
  background-color: transparent;
  border: none;
  margin-left: 20px;
  outline: none;
}

/* main  */
.main-content{
  display: flex;
}
.sidebar-panel{
  width: 320px;
  height: 100vh;
  background: var(--glass-color);
  border-right: 1px solid var(--white-border);
  padding: 40px;
}

.sidebar-panel .user-links{
   width: 100%;
   float: left;
}
.sidebar-panel .user-links a{
  margin-bottom: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}
.sidebar-panel .user-links a:active{
  color: var(--pink-color);
}

.sidebar-panel .user-links  a .iconify{
  margin-right:  10px;
  font-size: 30px;
}

.sidebar-panel .user-links  a .wishlist-count{
  margin-left: 15px;
  background: var(--text-color);
  padding: 5;
  text-align: center;
  border-radius: 30px;
  font-size: 18px;
  line-height: 14px;
  color: white;
}

/* Content Area >> */
.content-area{
  width: 100%;
  padding: 40px 100px;
}

.content-area h2{
  font-size: 42px;
  padding-bottom: 35px;
}
.content-area .user-info{
  width: 450px;
}
.content-area .user-info label{
  display: block;
}

/* User Profile Edit form  */

.frm-grp{
  padding: 0 0 40px;
  position: relative;
}

.frm-grp.inline{
  display: flex;
  padding: 0;
}
.content-area .user-info .frm-grp label{
  font-size: 12px;
  font-weight: 500;
  margin: 0 20px 5px;
}
.content-area .user-info .frm-grp .iconify{
  position: absolute;
  top: 36px;
  z-index: 1;
  right: 14px;

}
.content-area .user-info .frm-grp .tick{
  color: #00ff22;
  font-size: 20px;
  top: 35px;
}
.content-area .user-info .frm-grp input {
  font-size: 18px;
  padding: 8px 20px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 100%;
}
.content-area .user-info .frm-grp input::placeholder{
  color: var(--text-color);
}

.content-area .user-info .update-btn{
  margin-top: 80px;
}
.content-area .user-info .c-code input{
  width: 90px;
}
