/* layout */
#result-page{
    /* display: grid;
    grid-template-columns: 350px auto;
    grid-gap: 20px; */
}





/* styling */
#aside{
    width:18%;
    display: inline-block;
}
.sidebar-filterbox{
    /* min-height:85vh;
    height: auto; */
    background: #ffffff63;

    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    padding: 20px;
    width: 350px;
    border-right: 1px solid rgba(255, 255, 255, 0.89);

    /* border-radius: 15px; */
    position: fixed;
    /* top: 130px; left: 20px; bottom: 20px; */
    

/* ---- 0 padding layout -----  */
    top: 90px; left: 0; right: 0; bottom: 0;
}


/* ------SCROLL FIXED-------  */
/* .header-scroll{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  .sidebar-scroll{
    top: 70px;
    left: 0px;
    bottom: 0px;
    width: 350px;

  } */



.sidebar-filterbox .filter-tools select,
.sidebar-filterbox .filter-tools form{
    width:100%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 6px;
} 
.sidebar-filterbox .filter-tools label{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.sidebar-filterbox .filter-tools form input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}
.sidebar-filterbox .filter-tools form button{
    padding: 4px;
    font-size: 22px;
    color: #101016;
    background :transparent ;
}
.sidebar-filterbox .filter-tools form input::placeholder{
    color: #101016;
}


 /* Premium Card  */
.sidebar-filterbox .premium-card span{
    background: var(--purple-color);
    padding: 5px 10px;
    color:white;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: -15px;
}
.sidebar-filterbox .premium-card{
    background-color: var(--pink-color);
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

.sidebar-filterbox .premium-card ul li{
    font-size:  12px;
    margin-left: 16px;
    color: white;
}
.sidebar-filterbox .premium-card h2 {
    color: white;
    padding: 10px 0;
    font-weight: 400;
    justify-content: start;
}

.sidebar-filterbox .premium-card button{
    text-align: center;
    background: var(--purple-color);
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
}

/* sidebar ends here */

#mca{
    padding: 20px;
    padding-left: 370px;
    width: 100%;
}

#mca-heading{
    /* border-bottom: 2px solid #ffffffb0; */
    margin-bottom: 15px;
}
#mca-heading h3{
    font-size: 16px;
    font-weight: 500;
    /* padding-bottom: 10px; */
}
#result-list-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}



.list-div-container{
    background-color: rgba(255, 255, 255, 0.65);
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: solid #ffffff 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.35s ease;
}
.list-div-container:hover{
    border:1px dashed var(--pink-color);
    transform: scale(1.05);
}


.row1-list-div-container .row1-domain-cont{
    font-weight: 450;
    letter-spacing: 0.1px;
}
.row1-list-div-container .row1-wishlist-cont form button,
.row1-list-div-container .row1-wishlist-cont span{
    background: none;
    font-size: 24px;
    color: #00000038;
    padding: 4px;
    transition-duration: 0.05s !important;
}
.row1-list-div-container .row1-wishlist-cont form button:hover,
.row1-list-div-container .row1-wishlist-cont span:hover{
    color: var(--pink-color);
    background-color: #ccd4ff57;
}

/* ----- CLICKED ----- */

.clicked{
    /* width: calc(40% + 20px);     */

}

.clicked .row1-list-div-container{
    display: grid;
    grid-template-columns: 40px auto 40px;
    margin-bottom: 10px;
}
.avail-tick{
    color: white;
    background-color: #2fdb15;
    padding: 1px;
}
.row1-icon-cont .icon-cont svg{
    font-size: 22px;
}
.register-now{
    height: auto;
    background-color: var(--pink-color);
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 400;
}
.register-now:hover{
    opacity: 0.9;
}


.row2-list-div-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.oth-ext-cont{
    border-top: 1px solid #d4efff;
    margin-top: 10px;
}
.oth-ext-cont .list-div-container{
    padding: 5px;
    margin-top: 6px;
}
.oth-ext-cont .list-div-container .row1-list-div-container{
    margin-bottom: 0;
    padding: 4px 0;
}
.oth-ext-cont .list-div-container:hover{

    transform: none;
}
.oth-ext-cont .list-div-container:first-child{
    margin-top: 10px;
}
.a-oth-ext{
    text-transform: none;
}
.a-oth-ext:hover{
    text-decoration: underline;
    /* color: var(--purple-color); */
}
.clicked-othext{
    width: 100%;    

}





/* --- Mobile -----  */
@media only screen and (max-width: 768px) {

    .sidebar-filterbox{
    display: none;
    }
    #mca{
        padding: 0;
        /* padding-top: 20px; */
        width: 100%;
    }
    #result-list-container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

}