/* layout */
#result-page{
    display: grid;
    grid-template-columns: 20% auto;

}





/* styling */
#aside{
    width:18%;
    display: inline-block;
}
.sidebar-filterbox{
    min-height:85vh;
    height: auto;

    background: #ffffff63;
    width: 95%;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.568);
    padding: 20px;
}

.sidebar-filterbox .filter-tools select,
.sidebar-filterbox .filter-tools form{
    width:100%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 6px;
} 
.sidebar-filterbox .filter-tools label{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.sidebar-filterbox .filter-tools form input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}
.sidebar-filterbox .filter-tools form button{
    padding: 4px;
    font-size: 22px;
    color: #101016;
    background :transparent ;
}
.sidebar-filterbox .filter-tools form input::placeholder{
    color: #101016;
}


 /* Premium Card  */
.sidebar-filterbox .premium-card span{
    background: #ff099c;
    padding: 5px 10px;
    color:white;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: -15px;
}
.sidebar-filterbox .premium-card{
    background-color: #9E00FF;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

.sidebar-filterbox .premium-card ul li{
    font-size:  12px;
    margin-left: 16px;
    color: white;
}
.sidebar-filterbox .premium-card h2 {
    color: white;
    padding: 10px 0;
    font-weight: 400;
    justify-content: start;
}

.sidebar-filterbox .premium-card button{
    background: #ff099c;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
}

/* sidebar ends here */


#main-content-area{
    width:70%;
    display: inline-block;

}
#mca-heading{
    padding: 40px;
    margin: 10px;
}
#result-list-container{
    border-top: #101016 1px solid;
    display: flex;
    flex-wrap: wrap;

}

.list-div-container{
    background-color: rgba(255, 255, 255, 0.65);
    height: auto;
    padding: 10px;
    width: 20%;    
    margin: 10px;
    border-radius: 8px;
    border: solid #ffffff .5px;
    text-transform: capitalize;
}

/* unclicked container */
.row1-list-div-container{
    padding-bottom: 5px;
    /* height: 40px; */
}


.unclicked .row1-list-div-container{
    display: grid;
    grid-template-columns: auto 40px;

}



.clicked{
    width: calc(40% + 20px);    

}

.clicked .row1-list-div-container{
    display: grid;
    grid-template-columns: 40px auto 40px;
}
.avail-tick{
    color: white;
    background-color: #42ED27;
    padding: 1px;
}
.register-now{
    height: auto;
    background-color: #9E00FF;
    color: #ffffff;
    border-radius: 3px;
    padding: 3px;
    font-size: 10px;
    font-weight: 200;


}

.row2-list-div-container{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 12px;
    font-weight: 200;
}

.oth-ext-cont{
    display: flex;
    flex-wrap: wrap;
}
.clicked-othext{
    width: 100%;    

}