/* main  */
.main-content{
    display: flex;
}
.sidebar-panel{
    width: 350px;
    /* height: 100vh; */
    background: var(--glass-color);
    border-right: 1px solid rgba(255, 255, 255, 0.89);
   
    position: fixed;
      /* top: 130px; left: 20px; bottom: 20px; */
      
  
  /* ---- 0 padding layout -----  */
      top: 90px; left: 0; right: 0; bottom: 0;
  }

  .sidebar-panel .user-links{
    width: 100%;
    float: left;
    margin-top: 20px;
 }
.sidebar-panel .user-links a{
    width: 100%;
    padding: 20px 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.2s ease-in;
  }
  .sidebar-panel .user-links a:active{
    color: var(--pink-color);
  }
  .sidebar-panel .user-links a:hover{
    background-color: #ffffff3f;
  }
  
  .sidebar-panel .user-links  a .iconify{
    margin-right:  10px;
    font-size: 30px;
  }
  
  .sidebar-panel .user-links  a .wishlist-count{
    margin-left: 15px;
    background: var(--text-color);
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    font-size: 18px;
    line-height: 14px;
    color: white;
  }
  


#extension{
    color: var(--pink-color);
}


/* Content Area >> */
/* Content Area >> */
.content-area{
    width: 100%;
    padding: 20px;
    padding-left: 380px;
  }

.content-area .wishlist-heading{
    font-weight: 500;
}
.content-area .wishlist-cont{
    margin-top: 40px;
}
.content-area .wishlist-cont .wishlist-items .item{
    list-style: none;
    margin-bottom: 30px;
    width: 450px;
    min-width: 400px;
    height: max-content;
    padding: 20px;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 10px;
    background-color: var(--glass-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-area .wishlist-cont .wishlist-items .item .domain-text{
    font-weight: 400;
}
.content-area .wishlist-cont .wishlist-items .item .buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-area .wishlist-cont .wishlist-items .item .buttons svg.cart{
        font-size: 38px;
        color: var(--text-color);
}

.content-area .wishlist-cont .wishlist-items .item .buttons svg.tick{
    font-size: 24px;
    color: rgb(9, 219, 2);
}